<div class="container-fluid">
  <p><h3>users</h3></p>

  <p>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Nova enquete', new_pesquisa_path() %></button>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Novo usuário', new_user_path() %></button>
  </p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2" scope="col">user</th>
        <th scope="col">Média</th>
      </tr>
    </thead>
    <tbody>
       <% @users.each do |user| %>
      <tr>
        <td><%= user.code %></td>
        <td><%= user.media %></td>
        <td><%= link_to 'Mostar', user, :class => 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Editar', edit_user_path(user), :class => 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Apagar', user, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>
