<%= form_with(model: membro, local: true) do |form| %>
  <form>
    <div class="form-group">
      <label for="pergunta">Pergunta</label>
      <%=form.text_field :nome, 
	           placeholder: 'nome', 
	           class: 'form-control'%>
      <%= form.text_field :email, 
	           placeholder: 'email', 
	           class: 'form-control' %>
      <% perguntas_array = Pesquisa.all.map { |pesquisa|
          [pesquisa.pergunta, pesquisa.id] } %>
      <%= form.select(:pesquisa_id, 
          options_for_select(perguntas_array)) %>
      <div>
      <%=form.radio_button(:admin, "Admin?")%>
      <label for="admin?">É admin?</label>
      </div>
    </div>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </form>
<% end %>   
