<div class="container-fluid">
  <p><h3>Pesquisas</h3></p>

  <p>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Nova enquete', new_pesquisa_path() %></button>
  </p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pesquisa</th>
        <th scope="col">Média</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
       <% @pesquisas.each do |pesquisa| %>
      <tr>
        <td><%= pesquisa.pergunta %></td>
        <td><%= pesquisa.media %></td>
        <td><%= link_to 'Mostar', pesquisa, :class => 'btn btn-success btn-sm' %>|
        <%= link_to 'Editar', edit_pesquisa_path(pesquisa), :class => 'btn btn-warning btn-sm' %>|
        <%= link_to 'Apagar', pesquisa, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>
